{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<form class="row g-2" method="POST">
    {% csrf_token %}
        <div class="col-4">
                <label for="{{ form.customer.id_for_label }}" class="form-label mb-3">Customer:</label><br>
                {{form.customer}}
        </div>
        <div class="col-4">
            <label for="{{ form.ride.id_for_label }}" class="form-label">Ride:</label>
            {% render_field form.ride class+="form-select" %}
        </div>
        <!-- Hack to force columns onto next row! -->
        <div class="w-100"></div>
        <div class="col-4">
            <label for="{{ form.light.id_for_label }}" class="form-check-label">Lights: </label>
            {% render_field form.light class+="" %}
        </div>
        <div class="col-4">
            <label for="{{ form.primary_phone_number.id_for_label }}" class="form-label">Phone Number</label>
            {% render_field form.primary_phone_number|attr:"type:tel" class+="form-control" %}
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
</form>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

{{ form.media }}

<script>
    (function($) {
        $('#add-form').click(function() {
            var index = $('#id_inline_test_models-TOTAL_FORMS').val()
            var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
            newTable.find(':input').each(function() {
                for (attr of ['name', 'id'])
                    $(this).attr(
                        attr,
                        $(this).attr(attr).replace('__prefix__', index)
                    )
            })
            newTable.insertBefore($(this))
            $('#id_inline_test_models-TOTAL_FORMS').val(
                parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
            )
            newTable.slideDown()
        })
    })($)
    </script>


{% endblock %}
