{% extends "base.html" %}
{% block title %}Home Page{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-4">
        <h3>Recent Jobs</h3>
        <div class="list-group list-group-flush">
            {% for job in job_list %}
            <a href="{{ job.get_absolute_url }}" class="list-group-item list-group-item-action">{{ job }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-8">
        <div class="d-flex align-items-center">
            <h3>Edit</h3><a class="mx-3 text-reset" href="{% url 'create_job' %}">Add Job<i class="m x-1 fas fa-plus"></i></a>
        </div>
        {% for job in job_list %}
            <div class="row mt-1">
                <div class="btn-group btn-group">
                    <a href="{% url 'detail_job' job.id %}"><button class="btn btn-primary mx-1">Details</button></a>
                    <a href="{% url 'update_job' job.id %}"><button class="btn btn-warning mx-1">Edit</button></a>
                <!-- <a href=""><button class="btn btn-danger mx-1">Delete</button></a> -->
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
