{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<form class="row g-2" method="POST">
    {% csrf_token %}
        <div class="col-4">
                <label for="{{ form.ride_name.id_for_label }}" class="form-label"> Light Style:</label>
                {% render_field form.light_style class+="form-control" placeholder=""%}
        </div>
        <div class="col-4">
            <label for="{{ form.manufacturer.id_for_label }}" class="form-label"> Number of LEDS:</label>
            {% render_field form.number_of_leds class+="form-control" %}
        </div>
        <!-- Hack to force columns onto next row! -->
        <!-- <div class="w-100"></div>
        <div class="col-4">
            <label for="{{ form.alternate_name.id_for_label }}" class="form-label">Alt Name:</label>
            {% render_field form.alternate_name class+="form-control" %}
        </div>
        <div class="col-4">
            <label for="{{ form.primary_phone_number.id_for_label }}" class="form-label">Phone Number</label>
            {% render_field form.primary_phone_number|attr:"type:tel" class+="form-control" %}
        </div> -->
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
</form>
{% endblock %}
